.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000; // Глубокий черный
  z-index: 99999; // Поверх ВСЕГО
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.content {
  text-align: center;
  width: 400px;
}

.logo {
  font-size: 3rem;
  letter-spacing: -2px;
  margin-bottom: 40px;
  font-weight: 900;
  span { color: #a70a0a; }
}

.userBlock {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #a70a0a;
    box-shadow: 0 0 30px rgba(167, 10, 10, 0.5);
    margin-bottom: 15px;
    background: #111;
    
    img { width: 100%; height: 100%; object-fit: cover; }
  }

  h2 {
    font-size: 14px;
    letter-spacing: 3px;
    color: #666;
    text-transform: uppercase;
    
    .red { color: white; font-weight: bold; }
  }
}

.loaderContainer {
  .textInfo {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: #a70a0a;
    margin-bottom: 5px;
    font-family: monospace;
  }

  .track {
    width: 100%;
    height: 4px;
    background: #1a1a1a;
    border-radius: 2px;
    overflow: hidden;
  }

  .bar {
    height: 100%;
    background: #a70a0a; // Красный прогресс
    box-shadow: 0 0 15px #a70a0a;
  }
}