body {
  margin: 0;
  background-color: #050505;
  color: #ffffff;
  font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
  overflow: hidden; /* Убираем стандартный скролл */

  /* Сетка на фоне */
  background-image: 
    linear-gradient(rgba(20, 20, 20, 0.8) 1px, transparent 1px),
    linear-gradient(90deg, rgba(20, 20, 20, 0.8) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Крутой скроллбар для всего приложения */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff003c; /* Красный неон при наведении */
}