.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95); // Почти непрозрачный черный
  backdrop-filter: blur(20px);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  width: 600px;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
}

.subtitle {
  color: #666;
  letter-spacing: 5px;
  font-size: 0.9rem;
  margin-bottom: 50px;
}

.progressWrapper {
  margin-bottom: 20px;
  position: relative;
}

.progressBar {
  height: 10px;
  background: #111;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #333;
  margin-bottom: 15px;
}

.fill {
  height: 100%;
  background: #a70a0a; // Кроваво-красный
  box-shadow: 0 0 20px #a70a0a;
}

.percentage {
  font-family: monospace;
  font-size: 4rem;
  font-weight: bold;
  color: #a70a0a;
  text-shadow: 0 0 30px rgba(167, 10, 10, 0.5);
}

.statusText {
  font-family: monospace;
  color: #444;
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.restartBtn {
  background: transparent;
  border: 2px solid #a70a0a;
  color: white;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    background: #a70a0a;
    box-shadow: 0 0 30px #a70a0a;
  }
}