@import '../../../styles/variables';

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.btn {
  background: linear-gradient(180deg, #5e0a0a 0%, #300000 100%); // Кровавый градиент
  border: 2px solid #8a0e0e;
  padding: 15px 60px;
  font-family: $font-main;
  font-size: 24px;
  color: #e6e6e6;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(167, 10, 10, 0.4);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.6);
    border-color: #ff3333;
  }
}

.text {
  position: relative;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 2px 5px black;
}

// Эффект блика, который пробегает по кнопке
.bloodOverlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  transition: 0.5s;
}

.btn:hover .bloodOverlay {
  left: 100%; // Блик пробегает слева направо
  transition: 0.5s;
}